<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
                
    {% if check == "created" %}

        <h1>Successfully Created</h1>
        <br>
        Code: <h1>{{code}}</h1>
        <br>
        <form action="{% url 'viewpdf' code=code %}" method="post">
            {% csrf_token %}

            Enter Code: 
            <input type="text" name="code" id="code" placeholder="Enter Code" required>
            <input type="submit" value="View">
        </form>

    {% else %}        
        <form action="{% url 'home' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            Upload PDF file:
            <input type="file" name="pdf" id="pdf" accept="application/pdf" required>
            <input type="submit" value="Upload">
        </form>

                <br>
                <h1>OR</h1>
                <br>

            <form action="{% url 'viewpdf' code=code|default:'0'%}" method="post">
                {% csrf_token %}
                Enter Code: 
                <input type="text" name="code" id="code" placeholder="Enter Code" required>
                <input type="submit" value="View">
            </form>

    {% endif %}
        
</body>
</html>