<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    {% if valid %}
<embed src="{{ filepath }}" type="application/pdf" width="100%" height="600px">
<p>Your browser does not support PDFs. Please download the PDF to view it: <a href="{{ filepath }}">Download PDF</a>.</p>
{% else %}
<p>Invalid PDF code or file not found.</p>
{% endif %}

        
</body>
</html>