<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if filepath %}
        <object data="{{ filepath }}" type="application/pdf" width="100%" height="600px">
            <!-- Fallback content -->
                <a href="{{ filepath }}">Download PDF</a>.
            
        </object>
    {% else %}
        No pdf File is there
    {% endif %}
</body>
</html>